body {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .random-img {
    position: absolute;
    width: 100px;
    height: auto;
    object-fit: cover;
    transition: all 0.5s ease;
  }
  
  #upload {
    position: fixed;
    top: 75px;
    left: 10px;
    z-index: 10;
  }

  .entry {
    background-color: beige;
    border: 2px pink;
  }
  #img_container {
    position: relative;
    width: 50vw;      /* or any fixed size you want */
    height: 50vh;      /* for example, top half of the screen */
    overflow: hidden;
    border: 2px dashed #ccc;
  }
  